<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog's App</title>
    <style>
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    </style>
</head>
<body>
    <h2 style="text-align:center;">Welcome to Dog's App</h2>
    <h4> <%= locals.user %> </h4> <!-- Show the actual user logged in-->
    <br>
    <h4 style="text-align:center;">Here is a list of all users using the Dog's App</h4>
    <br>
    <div class="container">
        <% owners.forEach(function(owner){ %>
            <%- include('partials/person', {person: owner}); %>
            <% }); %>
    </div>
    
    <div>
        <%- include('partials/addOwner') -%> 
    </div>

    <%- include('partials/footer') -%> 
</body>

</html>