<head>

</head>

<div class="add-owner">
    <form action="/owners" method="post">
    <input type="text" name="name" placeholder="Owner Name">
    <input type="text" name="number" placeholder="Mobilenumber">
    <button>Add Owner</button>
</form>
</div>