<head>
    <style>
    .dog-box {
        border: 1px solid #999;
        padding: 5px;
        margin-top: 5px;
    }
    </style>
</head>

<div class="dog-box">
    <h6><%= dog.name %></h6>
    <p>Allergies: <%= dog.alergies %></p>
    <p>Gender: <%= dog.gender %></p>
</div>