<head>
    <style>
    .dog-box {
        border: 1px solid #999;
        padding: 5px;
        margin-top: 5px;
        width: 150px; 
        margin: 0 auto;
    }
    </style>
</head>

<div class="dog-box">
    <h4><%= dog.name %></h4>
    <p>Allergies: <%= dog.allergies %></p>
    <p>Gender: <%= dog.gender %></p>
</div>