<head>
    <style>
    footer {
        text-align: center;
        bottom: 0;
        width: 100%;
    }
    </style>
</head>


<footer class="footer">
    <p> 404 - AWT 2024 Express Lecture</p>
</footer>