<head>
    <style>
        .header {

            padding: 10px;

            background: rgba(0, 0, 0, 0.80);
            color: white;

            font-weight: 500;

            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(12.8px);
            -webkit-backdrop-filter: blur(12.8px);

            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        a{
            color: white;
            text-decoration: none;
        }
    </style>
</head>

<div class="header">

    <div>
        <a href="/">
            Dog's App
        </a>
    </div>

    <div>
        <a href="/credits">
            404
        </a>
    </div>

</div>