<head>
    <style>
    .person-box {
        border: 2px solid #ccc;
        padding: 10px;
        margin: 0 10px 20px;
        width: 400px;
        max-width: 500px;
        flex: 1 1 200px;
        box-sizing: border-box;
    }
    .dog-list{
        list-style: none; /* Remove default list styles */
        padding: 0;
    }
    </style>
</head>

<div class="person-box">
    <h3> <%= person.name %></h3>
    <p>Number: <%= person.number %></p>
    <p>Dogs: </p>
    <ul class="dog-list">
        <% person.dogs.forEach(function(dog){ %>
            <%- include('dog', {dog: dog}); %>
          <% }); %>
    </ul>
</div>