<!DOCTYPE html>
<html lang="en">

<div class="container w-25 border py-5 mt-5">
    <h2>Welcome to Dog's App</h2>
    <h4>
        <%= locals.user %>
        <br>
        <h5>Here is a list of all users using the Dog's App</h5>
        <br>
        <ul>
            <% people.forEach(person => { %>
                <% include ./partials/person.ejs %>
            <% }); %>
        </ul>
        <br>
    </h4>
</div>

<%- include('partials/footer') -%>

</html>